node_modules/

build/
dist/
out/
*.log
*.pid

.env

.vscode/
.idea/

*.js.map
*.css.map
*.html

.env.local
.env.development.local
.env.test.local
.env.production.local

package-lock.json
yarn.lock

.DS_Store
