.frameChild {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 175px;
  flex-shrink: 0;
  object-fit: cover;
}
.doNotForget {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.tc {
  margin: 0;
  text-decoration: underline;
  color: var(--color-mediumblue);
}
.doNotForgetContainer {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.doNotForgetToApplyOurSpeWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.frameContainer,
.frameWrapper,
.rectangleParent {
  display: flex;
  justify-content: flex-start;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.rectangleParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--light-status-size);
  color: var(--neutral-light);
  font-family: var(--thin-description);
}
