@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");
@font-face {
  font-family: "FS Albert Arabic Web";
  src: url("/public/FSAlbert Regular.otf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --thin-description: "FS Albert Arabic Web";
  --font-abeezee: ABeeZee;

  /* font sizes */
  --thin-description-size: 16px;
  --font-size-lg: 18px;
  --light-status-size: 14px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --header-h3-size: 32px;
  --header-h5-size: 20px;
  --font-size-9xl: 28px;
  --font-size-32xl: 51px;

  /* Colors */
  --primary-midnight-blue: #192841;
  --color-gray-100: rgba(0, 0, 0, 0.05);
  --color-gray-200: rgba(255, 255, 255, 0.07);
  --color-gray-300: rgba(0, 0, 0, 0.15);
  --bg-blur-storke: rgba(255, 255, 255, 0.3);
  --color-gray-400: rgba(255, 255, 255, 0.1);
  --neutral-light: #fff;
  --color-whitesmoke-100: #f9fafb;
  --color-whitesmoke-200: rgba(249, 250, 251, 0.1);
  --neutral-light-gray: #e5e7eb;
  --color-gainsboro-100: #d9d9d9;
  --color-black: #000;
  --color-mediumblue: #3c3cf0;
  --color-chocolate: #f47524;
  --neutral-dark-gray: #6b7280;
  --neutral-light-black: #4b5563;
  --primary-dark-cornflower-blue: #1a4686;

  /* Gaps */
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-17xl: 36px;
  --gap-5xs: 8px;
  --gap-10xs: 3px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-2xs: 11px;
  --gap-smi: 13px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-smi: 13px;
  --padding-mid: 17px;
  --padding-lg: 18px;

  /* border radiuses */
  --br-5xl: 24px;
  --br-5xs: 8px;
  --br-69xl: 88px;
  --br-45xl: 64px;
  --br-base: 16px;
  --br-9xs: 4px;
  --br-21xl: 40px;
  --br-2xl: 21px;

  /* Effects */
  --bg-blur: blur(44px);
}
